@media (max-width:768px){
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    overflow-x: hidden;
}
    
    
    
    
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .navbar .logo>h3{
        font-size: 12px !important;
    }
    .navbar ul{
        display: none;
    }

    .navbar>a{
        padding: 10px;
        width: 50%;
    }
    .navbar a>button{
        font-size: 12px;

    }

     .navbar a>button>i{
        display: none;

    }

    #hero{
        /* display: flex; */
        flex-direction: column-reverse;
        padding: 40px 20px 50px;
        text-align: center;
        margin-top: 870px;

         
    }
    .hero-content{
        width: 100%;
    }
    .hero-buttons{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .hero-buttons a{
        width: 100%;
        max-width: 280px;
    }
    .social{
        justify-content: center;

    }

.hero-image{
    width: 100%;
}

.hero-image::after{
    left: 0;
    width: 100%;
}

#about{
    flex-direction: column;

}

.circle{
height: 220px;
width: 100%;
top: 10px;
}
.note{
    display: none;
}
.about-right{
    width: 100%;
    text-align: center;
    justify-content: center;
}
.about-right .tag{
    font-size: 14px;

}
.about-right h2{
    font-size: 20px;
}
.about-right p{
    font-size: 16px;
    width: 100%;
    padding: 0;
    text-align: justify;

}

.cards{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* .tech-stack .tech-icons span{
    font-size: 12px;
    height: 30px;
    width: 70px;

} */



.tech-stack .tech-icons{
    display: flex;
    /* justify-content: center; */
    gap: 10px;
    flex-wrap: wrap;
}

.tech-stack .tech-icons span{
    display: flex;
    /* justify-content: center; */
    align-items: start;
    font-size: 24px;
    height: 35px;
    width: 35px;
}

/* #skills{
min-height: 80vh;
margin-bottom: 50px;
}
.section-title{
    text-align: center;
}
.skills-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 30px;
}
.skill-card{

} */



.skills-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.section-title span{
    font-size: 18px;
}
.section-title h2{
    font-size: 22px;
}
.section-title p{
font-size: 12px;
}





.project-container{
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.project-content{
    padding: 10px;
}



#footer p{
    padding: 10px;
}





}


@media (max-width:480px){
    #hero{
        margin-top: 650px;
    }
}